@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Light.eot');
    src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText-Light.woff2') format('woff2'),
        url('../fonts/SFProText-Light.woff') format('woff'),
        url('../fonts/SFProText-Light.ttf') format('truetype'),
        url('../fonts/SFProText-Light.svg#SFProText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Medium.eot');
    src: url('../fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFProText-Medium.woff2') format('woff2'),
        url('../fonts/SFProText-Medium.woff') format('woff'),
        url('../fonts/SFProText-Medium.ttf') format('truetype'),
        url('../fonts/SFProText-Medium.svg#SFProText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}





